$red: #ee3350;
$red-orange: #f36c42;
$orange: #f89834;
$yellow-orange: #fec01e;
$yellow: #ffe600;
$yellow-green: #cadb3c;
$green: #74c050;
$blue-green: #00b9ad;
$blue: #0094d5;
$blue-violet: #4e5eaa;
$violet: #92449a;

$primary-black: #222;
$primary-white: #fff;

$primary-1: #efeff0;
$primary-2: #e2e3e4;
$primary-3: #d5d7d8;
$primary-4: #c9cacc;
$primary-5: #bcbec0;
$primary-6: #afb1b4;
$primary-7: #a3a5a8;
$primary-8: #97999c;
